* {
    margin: 0;
    padding: 0;
}
.body {
    width: 1280px;
}
header {
    width: 100%;   
}
ul {
    display: inline-block;
    text-align: center;
    width: 100%; 
    padding: 25px;
}
li {
   
    display: inline;
    margin-right: 70px;
}
li:last-child {
    margin-right: 0;
}
li a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 0, 0, 1);
    font-weight: bold;
    font-size: 20px;
}
.background {
    display: block;
    margin: 0 auto;
    
}
.main-title {
    
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 27px;
display: flex;
align-items: flex-end;
letter-spacing: 3.3px;
text-transform: uppercase;
text-align: center;
padding-top: 48px;
display: inline-block;
width: 100%;
}
.main-description {
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 2.4px;
margin-top: 38px;
}
.main-description2 {
      font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: justify;
    letter-spacing: 2.4px;
}
